[submodule "takapi/docker-takipi"]
	path = takapi/docker-takipi
	url = git@github.com:chook/docker-takipi.git
[submodule "docker-elk"]
	path = docker-elk
	url = https://github.com/deviantony/docker-elk.git
